@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --primary-color: white;
    --secondary-color: #FF89FF;
}
body{
    background-image: linear-gradient(to right, blue, lightblue);
}
.parent{
    background-color: lightgray;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16px;
}
.child1{
    background-color: white;
    color: purple;
    margin-left: 5%;
    margin-right: 5%;
}
.title{
    color: #FF8762;
    text-transform: uppercase;
}
.title::after{
    content: " after";
    color: #FF8762;
}
#first{
    color: rgb(120, 58, 230);
}
#first:hover{
    color: rgb(120, 58, 230);
    font-size: 30px;
}
#first::before{
    content: "Before ";
    color: rgb(120, 158, 230);
}
p{
    color: #DD2387;
    margin: 5%;
    background-color: aqua;
    text-decoration: underline;
}
span{
    background-color: wheat;
    margin: 5%;
    color: black;
    text-transform: capitalize;
}
.druga{
    display: block;
    background-color: transparent;
    margin: 5%;
}
label{
    display: inline-block;
}
.inputs{
    display: flex;
    margin-left: 5%;
    color: purple;
    align-items: center;
}
input[type="text"]{
    background-color: lightblue;
    color: red;
}
.box-containers{
    display: flex;
    margin-left: 10%;
}
.box{
    background-image: radial-gradient(ellipse, green, purple);
    color: var(--primary-color);
    width: 30%;
    border: 10px dashed palevioletred;
    margin: 15px;
    padding-top: 3%;
    text-align: center;
    box-sizing: content-box;
    font-style: normal;
    font-family: sans-serif;
}
.box2{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/057/068/323/small/single-fresh-red-strawberry-on-table-green-background-food-fruit-sweet-macro-juicy-plant-image-photo.jpg");
    color: var(--secondary-color);
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-align: right;
    width: 30%;
    border: 10px solid red;
    margin: 15px;
    padding: 10px;
    box-sizing: content-box;
}
.images{
    display: flex;
    margin-left: 10%;
    margin-bottom: 2%;
}
img{
    width: 20%;
    min-width: 200px;
    margin-right: 2%;
}
.image{
    width: 70%;
    height: 200px;
    max-width: 400px;
    object-fit: cover;
    object-position: top;
}